@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
}

ul{
  margin: 0;
  padding: 0;
}

.gif{
  width: 8%;
}

section{
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #e8391d;
}

/*header*/
header{
  background-color: #35424a;
  color: #fff;
  padding-top: 30px;
  min-height: 80px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #ccc;
  font-weight: bold;
}

/*showcase*/
#showcase{
  min-height: 150px;
  text-align: center;
  margin: 20px;
}
#showcase h1{
  font-family: Pacifico;
  font-size: 70px;
  display: inline;
  color: #e8491d;
}

#showcase p{
  display: inline;
}


/*about_me*/
#about_me{
  min-height: 400px;
  text-align: center;
  background: url("../img/bg_img.jpg") no-repeat ;
  background-size: 100% 150%;
  color: #fff;
}

#about_me div{
  padding-top: 100px;
}

#about_me p{
  display: inline-block;
  width:80%;
  text-align: justify;
}

footer{
  padding:20px;

  color:#fff;
  background-color:#e8491d;
  text-align: center;
}
